<?xml version="1.0" encoding="utf-8"?>
<Media Key="f636c1f7-389c-4ecb-9422-5004bf007b41" Alias="bg-email.svg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/bgEmailsvg</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T12:29:15</CreateDate>
    <NodeName Default="bg-email.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/av4jifeh/bg-email.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>