<?xml version="1.0" encoding="utf-8"?>
<Media Key="f90a100d-5d97-4b86-93c5-728b1c806424" Alias="bg-email.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/bgEmailpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-11T12:54:39</CreateDate>
    <NodeName Default="bg-email.png" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qlneyt54/bg-email.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>