<?xml version="1.0" encoding="utf-8"?>
<Media Key="5927d6c6-fc86-4e41-bd35-c15f20cddb98" Alias="Brand.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T09:41:04</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/grvjlo23/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>