<?xml version="1.0" encoding="utf-8"?>
<Media Key="77acccfb-407e-4ed8-9a91-070ceb917333" Alias="Brands-1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brands1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T12:16:39</CreateDate>
    <NodeName Default="Brands-1.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bfyb3flf/brands-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>