<?xml version="1.0" encoding="utf-8"?>
<Media Key="076f99e8-6082-4e01-a631-78a2a531675c" Alias="breadcrumb-bg.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/breadcrumbBgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T14:07:36</CreateDate>
    <NodeName Default="breadcrumb-bg.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dism1zmz/breadcrumb-bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>