<?xml version="1.0" encoding="utf-8"?>
<Media Key="b27d6d9c-9b95-4ed1-975d-7338683b0c8c" Alias="card-img-1.svg" Level="2">
  <Info>
    <Parent Key="4b81af98-27aa-4aae-b057-6aa5d9e305fb">TeamMemberImgs</Parent>
    <Path>/TeamMemberImgs/cardImg1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T09:02:56</CreateDate>
    <NodeName Default="card-img-1.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n1in4ueo/card-img-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>