<?xml version="1.0" encoding="utf-8"?>
<Media Key="61e7ec11-d5e9-434e-93d1-bf7b53afb0b4" Alias="Contact-info-img.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactInfoImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T12:50:51</CreateDate>
    <NodeName Default="Contact-info-img.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2nifla5s/contact-info-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>