<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c207006-e9a4-4527-b55a-689a5e0f7046" Alias="crowd-img.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/crowdImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T09:27:33</CreateDate>
    <NodeName Default="crowd-img.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4tgjfpv5/crowd-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>