<?xml version="1.0" encoding="utf-8"?>
<Media Key="15d3eb71-9159-43ba-aa43-24f6fd5e1598" Alias="image-13-min 1.svg" Level="2">
  <Info>
    <Parent Key="d10b1e09-8b28-443b-b51b-77196e72c924">Service Thumbnails</Parent>
    <Path>/ServiceThumbnails/image13Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T10:11:51</CreateDate>
    <NodeName Default="image-13-min 1.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qnlhd30c/image-13-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>