<?xml version="1.0" encoding="utf-8"?>
<Media Key="18a969b9-54fa-4ea8-96cb-6635f46e7d77" Alias="image-21-min 1.svg" Level="2">
  <Info>
    <Parent Key="d10b1e09-8b28-443b-b51b-77196e72c924">Service Thumbnails</Parent>
    <Path>/ServiceThumbnails/image21Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T10:11:51</CreateDate>
    <NodeName Default="image-21-min 1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jpkax4xb/image-21-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>