<?xml version="1.0" encoding="utf-8"?>
<Media Key="3c4c4edf-8498-4b43-bdb3-cd2e9ba6282d" Alias="image-24-min 2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image24Min2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T10:34:38</CreateDate>
    <NodeName Default="image-24-min 2.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fxzp3xud/image-24-min-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>