<?xml version="1.0" encoding="utf-8"?>
<Media Key="6f0828e5-8dbd-456b-9b8e-9d1f1bd3bac7" Alias="image-22-min 1.svg" Level="2">
  <Info>
    <Parent Key="d10b1e09-8b28-443b-b51b-77196e72c924">Service Thumbnails</Parent>
    <Path>/ServiceThumbnails/image22Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T10:11:52</CreateDate>
    <NodeName Default="image-22-min 1.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/c4klvdng/image-22-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>