<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e261064-b349-49dc-a45f-0f5f3e990b2d" Alias="img_choose_01_home01 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/img_choose_01_home011svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T13:41:41</CreateDate>
    <NodeName Default="img_choose_01_home01 1.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/s0wjj1cs/img_choose_01_home01-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>