<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f13acd3-d88c-4b95-8a9d-0603b00eea5d" Alias="keypointholder.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/keypointholdersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T13:37:44</CreateDate>
    <NodeName Default="keypointholder.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eeildhmx/keypointholder.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>