<?xml version="1.0" encoding="utf-8"?>
<Media Key="551afa53-84e1-4cee-8578-439b327eb62e" Alias="Map-bg.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MapBgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T14:09:32</CreateDate>
    <NodeName Default="Map-bg.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ufdlrn50/map-bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>