<?xml version="1.0" encoding="utf-8"?>
<Media Key="9b213214-e460-4e32-9ad2-028575c4e2da" Alias="post2 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/post21svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T08:15:16</CreateDate>
    <NodeName Default="post2 1.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/20hjg4l1/post2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>