<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb6239a4-d0e6-474a-9daf-a21cbd81662f" Alias="Rating.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ratingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T09:00:17</CreateDate>
    <NodeName Default="Rating.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/k0cmakp3/rating.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>