<?xml version="1.0" encoding="utf-8"?>
<Media Key="d10b1e09-8b28-443b-b51b-77196e72c924" Alias="Service Thumbnails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServiceThumbnails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-29T10:10:16</CreateDate>
    <NodeName Default="Service Thumbnails" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>