<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ad530e9-c44a-4945-8533-c7878c195173" Alias="storyimage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/storyimagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T10:06:05</CreateDate>
    <NodeName Default="storyimage.svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/doghp4cr/storyimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>