<?xml version="1.0" encoding="utf-8"?>
<Media Key="f99ca753-c18e-491e-850c-046b092b5cf7" Alias="Success-story-bg.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SuccessStoryBgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T12:39:26</CreateDate>
    <NodeName Default="Success-story-bg.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uend2g2v/success-story-bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>