<?xml version="1.0" encoding="utf-8"?>
<Media Key="6208891a-b678-4f94-ba87-29b1bfc9f9ac" Alias="success-story-img-placeholder.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/successStoryImgPlaceholdersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T12:33:49</CreateDate>
    <NodeName Default="success-story-img-placeholder.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3a0kvadd/success-story-img-placeholder.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>