<?xml version="1.0" encoding="utf-8"?>
<Media Key="60861466-0595-4a98-ad7b-ac16a6da89b1" Alias="TeamMember5.svg" Level="2">
  <Info>
    <Parent Key="4b81af98-27aa-4aae-b057-6aa5d9e305fb">TeamMemberImgs</Parent>
    <Path>/TeamMemberImgs/TeamMember5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T09:02:39</CreateDate>
    <NodeName Default="TeamMember5.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ssudjauo/teammember5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>