<?xml version="1.0" encoding="utf-8"?>
<Media Key="2295463f-22ce-40f0-a56e-75db44795a94" Alias="TeamMember6.svg" Level="2">
  <Info>
    <Parent Key="4b81af98-27aa-4aae-b057-6aa5d9e305fb">TeamMemberImgs</Parent>
    <Path>/TeamMemberImgs/TeamMember6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T09:02:39</CreateDate>
    <NodeName Default="TeamMember6.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zx3dpqgv/teammember6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>