<?xml version="1.0" encoding="utf-8"?>
<Media Key="44d5c412-1674-4a8d-aee0-e3d42a930275" Alias="TeamMember4.svg" Level="2">
  <Info>
    <Parent Key="4b81af98-27aa-4aae-b057-6aa5d9e305fb">TeamMemberImgs</Parent>
    <Path>/TeamMemberImgs/TeamMember4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T09:02:39</CreateDate>
    <NodeName Default="TeamMember4.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2b2hpjtp/teammember4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>