<?xml version="1.0" encoding="utf-8"?>
<Media Key="926e2c7a-567a-4157-b20a-7790c446f0fc" Alias="TeamMember7.svg" Level="2">
  <Info>
    <Parent Key="4b81af98-27aa-4aae-b057-6aa5d9e305fb">TeamMemberImgs</Parent>
    <Path>/TeamMemberImgs/TeamMember7svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T09:02:39</CreateDate>
    <NodeName Default="TeamMember7.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rciny2db/teammember7.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>