<?xml version="1.0" encoding="utf-8"?>
<Media Key="7bebc165-649a-4e0e-b5f3-f408f29da56c" Alias="TeamMember3.svg" Level="2">
  <Info>
    <Parent Key="4b81af98-27aa-4aae-b057-6aa5d9e305fb">TeamMemberImgs</Parent>
    <Path>/TeamMemberImgs/TeamMember3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T09:02:39</CreateDate>
    <NodeName Default="TeamMember3.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/s34etgmb/teammember3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>