<?xml version="1.0" encoding="utf-8"?>
<Media Key="31d7a130-17e9-4492-854a-1cb7bbf7c8db" Alias="TeamMember2.svg" Level="2">
  <Info>
    <Parent Key="4b81af98-27aa-4aae-b057-6aa5d9e305fb">TeamMemberImgs</Parent>
    <Path>/TeamMemberImgs/TeamMember2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T09:02:39</CreateDate>
    <NodeName Default="TeamMember2.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yiohlu5s/teammember2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>