<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b81af98-27aa-4aae-b057-6aa5d9e305fb" Alias="TeamMemberImgs" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TeamMemberImgs</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-28T09:02:32</CreateDate>
    <NodeName Default="TeamMemberImgs" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>