<?xml version="1.0" encoding="utf-8"?>
<Media Key="a92fcda1-70ba-4cab-a68b-f196b33088cf" Alias="Testimonial-img.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TestimonialImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T09:00:26</CreateDate>
    <NodeName Default="Testimonial-img.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/knyi0s3b/testimonial-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>