@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;

    var pageTitle = !string.IsNullOrEmpty(Model.Name) ? $"Onatrix | {Model.Name}" : "Onatrix |";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@pageTitle</title>
    <script src="https://kit.fontawesome.com/729e2348c0.js" crossorigin="anonymous"></script>
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/service.css" rel="stylesheet" />
    <link href="/css/team.css" rel="stylesheet" />
    <link href="/css/hero.css" rel="stylesheet" />


</head>
<body>
    @RenderBody()
</body>
</html>