<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d9d0a6c-27ec-42f8-b884-0ba76b698517" Alias="2025-11-12 12:46 -  TestingMap" Level="2">
  <Info>
    <Parent Key="4311df22-c112-4732-a8d4-69896e50b17d">Form Submissons</Parent>
    <Path>/FormSubmissons/TestingMap</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-12T12:46:20</CreateDate>
    <NodeName Default="2025-11-12 12:46 -  TestingMap" />
    <SortOrder>15</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackOptions>
      <Value><![CDATA[]]></Value>
    </callbackOptions>
    <callbackRequestEmail>
      <Value><![CDATA[antoniow4@hotmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[TestingMap]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Opt1]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[12312321]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>