<?xml version="1.0" encoding="utf-8"?>
<Content Key="3feab66d-e3f7-4e99-be88-49030e6c632a" Alias="2025-11-10 13:58 -  Antonio Engström" Level="2">
  <Info>
    <Parent Key="4311df22-c112-4732-a8d4-69896e50b17d">Form Submissons</Parent>
    <Path>/FormSubmissons/AntonioEngstroem</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-10T13:58:56</CreateDate>
    <NodeName Default="2025-11-10 13:58 -  Antonio Engström" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackOptions>
      <Value><![CDATA[]]></Value>
    </callbackOptions>
    <callbackRequestEmail>
      <Value><![CDATA[Admin@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Antonio Engström]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax Fraud - 101]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[12312321]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>