<?xml version="1.0" encoding="utf-8"?>
<Content Key="a227d60e-5398-4526-b042-ec6ed5b6c53c" Alias="2025-11-10 15:25 -  Admin@domain.com" Level="2">
  <Info>
    <Parent Key="4311df22-c112-4732-a8d4-69896e50b17d">Form Submissons</Parent>
    <Path>/FormSubmissons/AdminDomaincom</Path>
    <Trashed>false</Trashed>
    <ContentType>emailRequest</ContentType>
    <CreateDate>2025-11-10T15:25:44</CreateDate>
    <NodeName Default="2025-11-10 15:25 -  Admin@domain.com" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <emailRequestEmail>
      <Value><![CDATA[Admin@domain.com]]></Value>
    </emailRequestEmail>
  </Properties>
</Content>