<?xml version="1.0" encoding="utf-8"?>
<Content Key="fdcca5c5-74c8-469b-acd5-2c246416102c" Alias="2025-11-10 15:13 -  Testing@domain.com" Level="2">
  <Info>
    <Parent Key="4311df22-c112-4732-a8d4-69896e50b17d">Form Submissons</Parent>
    <Path>/FormSubmissons/TestingDomaincom</Path>
    <Trashed>false</Trashed>
    <ContentType>emailRequest</ContentType>
    <CreateDate>2025-11-10T15:13:51</CreateDate>
    <NodeName Default="2025-11-10 15:13 -  Testing@domain.com" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <emailRequestEmail>
      <Value><![CDATA[Testing@domain.com]]></Value>
    </emailRequestEmail>
  </Properties>
</Content>