<?xml version="1.0" encoding="utf-8"?>
<Content Key="fc0a0200-bcb9-4226-bb1f-dcadfb12b9d2" Alias="2025-11-12 12:46 -  TestQuestion" Level="2">
  <Info>
    <Parent Key="4311df22-c112-4732-a8d4-69896e50b17d">Form Submissons</Parent>
    <Path>/FormSubmissons/TestQuestion</Path>
    <Trashed>false</Trashed>
    <ContentType>questionRequest</ContentType>
    <CreateDate>2025-11-12T12:46:58</CreateDate>
    <NodeName Default="2025-11-12 12:46 -  TestQuestion" />
    <SortOrder>16</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionRequestEmail>
      <Value><![CDATA[antoniow4@hotmail.com]]></Value>
    </questionRequestEmail>
    <questionRequestName>
      <Value><![CDATA[TestQuestion]]></Value>
    </questionRequestName>
    <questionRequestQuestion>
      <Value><![CDATA[TestQuestionArea]]></Value>
    </questionRequestQuestion>
  </Properties>
</Content>