<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb6bdca1-102d-4775-8f24-04351524c5ab" Alias="2025-11-12 11:08 -  Antoniow4@hotmail.com" Level="2">
  <Info>
    <Parent Key="4311df22-c112-4732-a8d4-69896e50b17d">Form Submissons</Parent>
    <Path>/FormSubmissons/Antoniow4Hotmailcom</Path>
    <Trashed>false</Trashed>
    <ContentType>emailRequest</ContentType>
    <CreateDate>2025-11-12T11:08:51</CreateDate>
    <NodeName Default="2025-11-12 11:08 -  Antoniow4@hotmail.com" />
    <SortOrder>12</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <emailRequestEmail>
      <Value><![CDATA[Antoniow4@hotmail.com]]></Value>
    </emailRequestEmail>
  </Properties>
</Content>