<?xml version="1.0" encoding="utf-8"?>
<Content Key="46df83c2-5404-4fd6-bd2a-ee094dec8350" Alias="2025-11-05 13:39 -  Antonio" Level="2">
  <Info>
    <Parent Key="4311df22-c112-4732-a8d4-69896e50b17d">Form Submissons</Parent>
    <Path>/FormSubmissons/Antonio</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-05T13:39:18</CreateDate>
    <NodeName Default="2025-11-05 13:39 -  Antonio" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[Anton@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Antonio]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax fraud]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[12312321]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>