<?xml version="1.0" encoding="utf-8"?>
<Content Key="8066a82f-6f6f-4e08-bf72-ec4bae0a0b79" Alias="2025-11-10 15:32 -  TestClient1@domain.com" Level="2">
  <Info>
    <Parent Key="4311df22-c112-4732-a8d4-69896e50b17d">Form Submissons</Parent>
    <Path>/FormSubmissons/TestClient1Domaincom</Path>
    <Trashed>false</Trashed>
    <ContentType>emailRequest</ContentType>
    <CreateDate>2025-11-10T15:32:35</CreateDate>
    <NodeName Default="2025-11-10 15:32 -  TestClient1@domain.com" />
    <SortOrder>7</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <emailRequestEmail>
      <Value><![CDATA[TestClient1@domain.com]]></Value>
    </emailRequestEmail>
  </Properties>
</Content>