<?xml version="1.0" encoding="utf-8"?>
<Content Key="f05e10a2-2a1c-444f-b689-33b1b912bc77" Alias="2025-11-11 13:45 -  Antonio@domain.com" Level="2">
  <Info>
    <Parent Key="4311df22-c112-4732-a8d4-69896e50b17d">Form Submissons</Parent>
    <Path>/FormSubmissons/AntonioDomaincom</Path>
    <Trashed>false</Trashed>
    <ContentType>emailRequest</ContentType>
    <CreateDate>2025-11-11T13:45:36</CreateDate>
    <NodeName Default="2025-11-11 13:45 -  Antonio@domain.com" />
    <SortOrder>8</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <emailRequestEmail>
      <Value><![CDATA[Antonio@domain.com]]></Value>
    </emailRequestEmail>
  </Properties>
</Content>