<?xml version="1.0" encoding="utf-8"?>
<Content Key="887f748c-db4a-4602-8737-c956f33bbd3d" Alias="2025-11-05 13:47 -  Test" Level="2">
  <Info>
    <Parent Key="4311df22-c112-4732-a8d4-69896e50b17d">Form Submissons</Parent>
    <Path>/FormSubmissons/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-05T13:47:48</CreateDate>
    <NodeName Default="2025-11-05 13:47 -  Test" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackOptions>
      <Value><![CDATA[]]></Value>
    </callbackOptions>
    <callbackRequestEmail>
      <Value><![CDATA[Testing@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Test]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Money laundering]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[123]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>