<?xml version="1.0" encoding="utf-8"?>
<Content Key="1b88aa16-641d-4899-b683-b51e707fbba2" Alias="Contact" Level="2">
  <Info>
    <Parent Key="b69fc0dd-a69a-495f-b678-22be329309b8">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-27T14:10:01</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="91c7af85-83b1-48c8-b9fa-a397a80b857a">ContactPage</Template>
  </Info>
  <Properties>
    <bannerBgImage>
      <Value><![CDATA[[
  {
    "key": "654bc337-a504-4445-8b88-761886b09b72",
    "mediaKey": "076f99e8-6082-4e01-a631-78a2a531675c",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bannerBgImage>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[]]></Value>
    </sections>
  </Properties>
</Content>