<?xml version="1.0" encoding="utf-8"?>
<Content Key="1b88aa16-641d-4899-b683-b51e707fbba2" Alias="Contact" Level="2">
  <Info>
    <Parent Key="b69fc0dd-a69a-495f-b678-22be329309b8">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-27T14:10:01</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="91c7af85-83b1-48c8-b9fa-a397a80b857a">ContactPage</Template>
  </Info>
  <Properties>
    <bannerBgImage>
      <Value><![CDATA[[
  {
    "key": "654bc337-a504-4445-8b88-761886b09b72",
    "mediaKey": "076f99e8-6082-4e01-a631-78a2a531675c",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bannerBgImage>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "60dd2382-aed2-4738-9c28-106997bd698d",
      "key": "b9ba19e8-d98e-44d3-b71f-cbe5b0508ad1",
      "udi": null,
      "values": [
        {
          "alias": "mapLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "mapTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "mapDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus"
        },
        {
          "alias": "mapBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1ec02f1f-792d-41e1-8305-c2b404ae73c8",
              "mediaKey": "551afa53-84e1-4cee-8578-439b327eb62e",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "ceaa15f2-7c2a-4606-a474-f8e11f3d4786",
      "key": "05be4dee-bb76-4eb0-8664-fc34bd2947c6",
      "udi": null,
      "values": [
        {
          "alias": "partnerList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "1ba06158-50c7-4a07-8788-be7e6b20764e",
                "key": "f6b8ef32-8964-4bc8-a016-46fe54c9a457",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "2fe25339-921e-44a8-917e-1078822e0abe",
                        "mediaKey": "77acccfb-407e-4ed8-9a91-070ceb917333",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "1ba06158-50c7-4a07-8788-be7e6b20764e",
                "key": "6c81a6d6-f49c-4de9-8eb9-618615270242",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "47ed1ef0-bc89-42f5-917f-a01566e872cd",
                        "mediaKey": "77acccfb-407e-4ed8-9a91-070ceb917333",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "1ba06158-50c7-4a07-8788-be7e6b20764e",
                "key": "59c6d87f-ea69-4435-b038-32b29f4e83ba",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "d3de97eb-2fea-4a5d-9122-56d54d456092",
                        "mediaKey": "77acccfb-407e-4ed8-9a91-070ceb917333",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "1ba06158-50c7-4a07-8788-be7e6b20764e",
                "key": "2695a140-538d-4152-b1fc-c5c5203d752b",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "029c1e2d-fb76-4665-b12f-b24f1748cc44",
                        "mediaKey": "77acccfb-407e-4ed8-9a91-070ceb917333",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "1ba06158-50c7-4a07-8788-be7e6b20764e",
                "key": "c4adc55d-a5cb-451d-99e0-511dacb429ee",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "43482280-14c2-4dfe-b9e6-af3a90c62bc9",
                        "mediaKey": "77acccfb-407e-4ed8-9a91-070ceb917333",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "1ba06158-50c7-4a07-8788-be7e6b20764e",
                "key": "facef399-d7ed-4b08-b760-de29020ab050",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "b7808dfb-4fa0-4eed-9a50-52e8755631e1",
                        "mediaKey": "77acccfb-407e-4ed8-9a91-070ceb917333",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "f6b8ef32-8964-4bc8-a016-46fe54c9a457",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "6c81a6d6-f49c-4de9-8eb9-618615270242",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "59c6d87f-ea69-4435-b038-32b29f4e83ba",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "2695a140-538d-4152-b1fc-c5c5203d752b",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c4adc55d-a5cb-451d-99e0-511dacb429ee",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "facef399-d7ed-4b08-b760-de29020ab050",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "f6b8ef32-8964-4bc8-a016-46fe54c9a457",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "6c81a6d6-f49c-4de9-8eb9-618615270242",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "59c6d87f-ea69-4435-b038-32b29f4e83ba",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "2695a140-538d-4152-b1fc-c5c5203d752b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "c4adc55d-a5cb-451d-99e0-511dacb429ee",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "facef399-d7ed-4b08-b760-de29020ab050",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "81f00f7a-75ce-4766-96c7-7a6f383bd61e",
      "key": "a46a1449-7b34-489c-82f4-12dba9edf23a",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactInfoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0fd467bc-c76c-4752-be42-3d034d9c9767",
              "mediaKey": "61e7ec11-d5e9-434e-93d1-bf7b53afb0b4",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "88b70e9c-514d-402c-a2b8-7ee4fa5f4395",
      "key": "5ab16391-42da-4bbc-beef-cb33aa1fbb73",
      "udi": null,
      "values": [
        {
          "alias": "mapSetting",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Opt1\nMoney laundering - 101"
        }
      ]
    },
    {
      "contentTypeKey": "0015ab3b-7c14-498f-9683-adf0163a0b0c",
      "key": "7a64aac4-58f3-4b51-86a5-63a2cb6b260b",
      "udi": null,
      "values": [
        {
          "alias": "bgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "b9ba19e8-d98e-44d3-b71f-cbe5b0508ad1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "05be4dee-bb76-4eb0-8664-fc34bd2947c6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a46a1449-7b34-489c-82f4-12dba9edf23a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a46a1449-7b34-489c-82f4-12dba9edf23a",
        "contentUdi": null,
        "settingsKey": "7a64aac4-58f3-4b51-86a5-63a2cb6b260b",
        "settingsUdi": null
      },
      {
        "contentKey": "b9ba19e8-d98e-44d3-b71f-cbe5b0508ad1",
        "contentUdi": null,
        "settingsKey": "5ab16391-42da-4bbc-beef-cb33aa1fbb73",
        "settingsUdi": null
      },
      {
        "contentKey": "05be4dee-bb76-4eb0-8664-fc34bd2947c6",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>