<?xml version="1.0" encoding="utf-8"?>
<Content Key="3a4ccb64-b957-429f-a532-39e13200c01e" Alias="Services" Level="2">
  <Info>
    <Parent Key="b69fc0dd-a69a-495f-b678-22be329309b8">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-27T14:10:07</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6ef163dc-0e3f-4ded-b397-fefd721c409c">ServicePage</Template>
  </Info>
  <Properties>
    <bannerBgImage>
      <Value><![CDATA[[
  {
    "key": "6b3cfa9e-109b-4a38-9428-4a16605459c7",
    "mediaKey": "076f99e8-6082-4e01-a631-78a2a531675c",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bannerBgImage>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4b9697b1-3039-4e73-8467-11c58d50b0f8",
      "key": "9528df92-235d-4951-927a-4c54e1623cad",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2 data-pm-slice=\u00221 1 []\u0022 style=\u0022text-align: center\u0022\u003EWe Provide The Solutions To Grow Your Business Faster\u003C/h2\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "3ed96d6b-7983-46c6-a716-ee1113f2cd35",
      "key": "303e384c-e2f8-4a61-afa8-ad40898e106c",
      "udi": null,
      "values": [
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "9528df92-235d-4951-927a-4c54e1623cad",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9528df92-235d-4951-927a-4c54e1623cad",
        "contentUdi": null,
        "settingsKey": "303e384c-e2f8-4a61-afa8-ad40898e106c",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>