<?xml version="1.0" encoding="utf-8"?>
<Content Key="05f4a1b8-4b28-4a38-9c4b-4b865587bc0d" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-28T09:43:53</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "3fdadf19-28f1-429a-ba6e-00aec6ff21be",
    "mediaKey": "5927d6c6-fc86-4e41-bd35-c15f20cddb98",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <socialMediaList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "182f9c12-f7d9-4347-a897-6303f647f3c1",
      "key": "2ca82086-f80d-4c92-a37f-e095243599fd",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.Facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "182f9c12-f7d9-4347-a897-6303f647f3c1",
      "key": "e9cd66d0-98ce-41b2-8f7d-86bf6fe7eca6",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "LinkedIn"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com/"
        }
      ]
    },
    {
      "contentTypeKey": "182f9c12-f7d9-4347-a897-6303f647f3c1",
      "key": "04bcd46e-8779-4897-8f8f-9b6827ae2eb8",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://x.com/"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "2ca82086-f80d-4c92-a37f-e095243599fd",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e9cd66d0-98ce-41b2-8f7d-86bf6fe7eca6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "04bcd46e-8779-4897-8f8f-9b6827ae2eb8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "2ca82086-f80d-4c92-a37f-e095243599fd",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e9cd66d0-98ce-41b2-8f7d-86bf6fe7eca6",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "04bcd46e-8779-4897-8f8f-9b6827ae2eb8",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaList>
  </Properties>
</Content>