<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7997c948-b0ea-4756-96ef-e522c6fe28b5" Alias="Onatrix | Sections" Level="1">
  <Info>
    <Name>Onatrix | Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "96c94987-4421-4da6-9ee7-c9698d7472a3"
    },
    {
      "contentElementTypeKey": "4b9697b1-3039-4e73-8467-11c58d50b0f8",
      "settingsElementTypeKey": "3ed96d6b-7983-46c6-a716-ee1113f2cd35"
    },
    {
      "contentElementTypeKey": "4c88c35d-7ab9-4eae-8734-8f9256cd9b3c"
    }
  ]
}]]></Config>
</DataType>