<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7997c948-b0ea-4756-96ef-e522c6fe28b5" Alias="Onatrix | Sections" Level="1">
  <Info>
    <Name>Onatrix | Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "96c94987-4421-4da6-9ee7-c9698d7472a3"
    },
    {
      "contentElementTypeKey": "4b9697b1-3039-4e73-8467-11c58d50b0f8",
      "settingsElementTypeKey": "3ed96d6b-7983-46c6-a716-ee1113f2cd35"
    },
    {
      "contentElementTypeKey": "4c88c35d-7ab9-4eae-8734-8f9256cd9b3c"
    },
    {
      "contentElementTypeKey": "cf9e5334-1002-4ad9-b123-97787ab3ef7c",
      "settingsElementTypeKey": "af440ad6-f9ef-4f33-9f87-4ffcdb504d13"
    },
    {
      "contentElementTypeKey": "890788ac-ce05-4a1f-9fa3-61f006a86c46"
    },
    {
      "contentElementTypeKey": "ceaa15f2-7c2a-4606-a474-f8e11f3d4786"
    },
    {
      "contentElementTypeKey": "60955dcd-305f-43a6-ba41-169195a1a59a"
    },
    {
      "contentElementTypeKey": "60dd2382-aed2-4738-9c28-106997bd698d",
      "settingsElementTypeKey": "88b70e9c-514d-402c-a2b8-7ee4fa5f4395"
    },
    {
      "contentElementTypeKey": "81f00f7a-75ce-4766-96c7-7a6f383bd61e",
      "settingsElementTypeKey": "0015ab3b-7c14-498f-9683-adf0163a0b0c"
    },
    {
      "contentElementTypeKey": "b9c0f069-0d48-40fb-ac2f-71a68a1762ed"
    },
    {
      "contentElementTypeKey": "4fca53a7-45b0-40c3-b74b-51f9b4ce4695"
    },
    {
      "contentElementTypeKey": "703d1c9e-6139-476d-ac63-8bdb9ce71a56"
    }
  ]
}]]></Config>
</DataType>