<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eab97bbb-b7d0-4d6b-ab9a-50d83df11b44" Alias="Partners Section - PartnerList " Level="1">
  <Info>
    <Name>Partners Section - PartnerList </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1ba06158-50c7-4a07-8788-be7e6b20764e"
    }
  ],
  "validationLimit": {
    "min": 6,
    "max": 6
  }
}]]></Config>
</DataType>