<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fe9f5c72-e2c8-4651-a29f-1d72075c39bf" Alias="Service Detail Aside - List" Level="1">
  <Info>
    <Name>Service Detail Aside - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "00719beb-428b-4865-87d7-976556260030"
    }
  ]
}]]></Config>
</DataType>