<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9b5412a-8e56-4073-996c-ea86608e449f" Alias="Site Settings - Social Media List " Level="1">
  <Info>
    <Name>Site Settings - Social Media List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "182f9c12-f7d9-4347-a897-6303f647f3c1",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>