<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c5cfeae9-71ef-4d39-90bd-fc258456cb1d" Alias="Story List" Level="1">
  <Info>
    <Name>Story List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "09ad853b-8ccb-4ce4-a87b-e281dd8c85e9"
    }
  ],
  "validationLimit": {
    "max": 3
  }
}]]></Config>
</DataType>