<?xml version="1.0" encoding="utf-8"?>
<DataType Key="24e4a0f2-8575-4003-bc0c-9a7e2f765aa7" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5f04335d-41c0-4c33-b747-5dd8c6fcbbed",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>