.choose.us {
}
.choose-us-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6.75rem;
    background-image: url('/images/dot-map 1.svg');
    background-position: center;
    background-repeat: no-repeat;
}

    .choose-us-content img {
        width: 100%;
        height: auto;
        display: block;
    }

    .choose-us-content .section-title {
        padding-bottom: 2rem;
    }

        .choose-us-content .section-title span {
            color: #d9c3a9;
        }

    .choose-us-content p {
        text-align: center;
    }

    .choose-us-content .btn {
        margin-top: 2rem;
        margin-bottom: 5.5rem;
    }
