.contact-info {
    background-color: #f7f7f7;
    padding-top: 2.25rem;
}

    .contact-info .container {
        display: flex;
    }

.contact-info-img {
    display: none;
}

@media (min-width: 768px) {
    .contact-info-img {
        display: block;
    }

        .contact-info-img img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
}

.contact-info-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap:2rem;
}

@media (min-width: 768px) {
    .contact-info-content {
        margin-left: 6.25rem;
    }
}

.info-group {
    display: grid;
    grid-template-areas:
        "icon text"
        "icon content";
    column-gap: 1rem;
    align-items: start;
}

    .info-group i {
        grid-area: icon;
        color: #D9C3A9;
        font-size: 1.4rem;
    }

.info-title {
    grid-area: text;
    font-weight: 600;
}

.info-content {
    grid-area: content;
}

.email-group {
    padding: 1rem;
}
@media(min-width:1400px)
{
    .email-group {
        padding:0rem;
    }
}




.fa-phone-flip,
.fa-envelope,
.fa-location-dot {
    color: #D9C3A9; /* valfri färg */
}


