@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --main-color: #4f5955;
    --sub-color1: #f2eddc;
    --sub-color3: #d9c3a9;
    --note-color: #9c9ea6;
    --body-text-color: #535656;
    --font-family: "Poppins", "sans-serif";
}

body {
    font-family: var(--font-family);
}

* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem 0 1rem;

    @media (min-width: 768px) {
        max-width: 720px;
        padding: 0 1rem 0 1rem;
    }

    @media (min-width: 1400px) {
        max-width: 1320px;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

h1 {
    font-weight: 700;
    font-size: 50px;
    color: var(--main-color);
    line-height: 80px;

    @media (min-width: 768px) {
        font-size: 70px;
    }
}

h2 {
    font-weight: 700;
    font-size: 40px;
    color: var(--main-color);
}

h3 {
    font-weight: 700;
    font-size: 30px;
    color: var(--sub-color1);
}

h4 {
    font-weight: 700;
    font-size: 25px;
    color: var(--main-color);
}

h5 {
    font-weight: 700;
    font-size: 22px;
    color: var(--main-color);
}

h6 {
    font-weight: 700;
    font-size: 18px;
    color: var(--main-color);
}

p {
    font-size: 14px;
    color: var(--body-text-color);
}

.btn {
    font-weight: 700;
    font-size: 18px;
    color: var(--sub-color1);
    background-color: var(--main-color);
    border: none;
    border-radius: 3px;
    padding: 1rem 2.5rem;
    cursor: pointer;
}

    .btn:hover {
        background-color: var(--sub-color3);
        color: var(--main-color);
    }

a {
    cursor: pointer;
    text-decoration:none;
}

header {
    .top-bar

{
    background-color: #4f5955;
    .header-content

{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.socials {
    .fa-brands

{
    color: white;
    padding: 1rem 0rem;
}

.fa-brands:hover {
    color: var(--sub-color3);
}

a {
    border-right: 1px solid #656e6a;
    padding: 0rem 0.5rem;
}

}

p {
    color: white;
}

}

.bottom-bar {
    padding: 1rem 0rem;
    /* box-shadow: 0px 0px 10px 0px rgb(0, 0, 0); */
}

nav {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: space-around;

    @media (min-width: 768px) {
        display: flex;

        justify-content: space-between;
    }
}

.serch-icon {
    display: none;

    @media (min-width: 768px) {
        display: block;
    }
}

}

/* Hamburger */
.hamburger-menu {
    font-size: 30px;
    cursor: pointer;

    @media (min-width: 768px) {
        display: none;
    }
}

/* Mobile menu */
.mobile-menu {
    display: none;
    flex-direction: column;
    background-color: var(--main-color);
    position: absolute;
    right: 0rem;
    top: 2.5rem;
    z-index: 999;
}

    .mobile-menu a {
        padding: 1rem;
        text-align: center;
        color: white;
        text-decoration: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

.navbar {
    display: none;

    @media (min-width: 768px) {
        display: flex;
        gap: 4.5rem;
    }

    a

{
    font-size: 16px;
    font-weight: bold;
    color: var(--main-color);
    text-decoration: none;
}

a:hover {
    color: var(--sub-color3);
}

}

footer {
    background-color: black;
    padding: 1.25rem 0rem;
    span

{
    color: var(--sub-color3);
}

}

.flex-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
        flex-direction: row;
    }
}

img {
    object-fit: cover;
    background-repeat: no-repeat;
    max-width: 100%;
}

.breadcrumb-title {
    text-align: center;
}

.section-title {
    text-align: center;
    .section-name

{
    color: var(--sub-color3);
    font-weight: 700;
    text-align: center;
}
}
