.map-section {
    background-image: url(/imgs/Map-bg.svg);
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: self-end;
    min-height: 748px;
}

.map-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 3px 4px 2px #80808085;
    padding: 4rem;
    height: 100%;
    position: relative;
    bottom: -116px;
    padding-bottom: 4.75rem;
}

    .map-card .section-title {
        text-align: center;
    }

        .map-card .section-title .extra {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        .map-card .section-title h2 {
            font-size: 35px;
        }

@media (min-width: 768px) {
    .map-card .section-title h2 {
        font-size: 40px;
    }
}



.form-content {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    gap: 1.5rem;
}

@media (min-width: 768px) {
    .form-content {
        flex-direction: row;
    }
}

.left-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
}

.right-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
}

.input-group {
    display: flex;
}

    .input-group input {
        padding: 1rem;
        width: 100%;
        border: 1px solid rgb(231, 231, 231);
        border-radius: 4px;
    }
    .input-group label {
       display:none;
    }

.map-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

label{
    display:none;
}