.our-service {
    background-color: #f7f7f7;
    padding-bottom: 6.25rem;
    padding-top: 5.25rem;
}

.our-service-content {
}

.box-grid-6x2 {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 2rem;
    gap: 2rem;
}

@media (min-width: 768px) {
    .box-grid-6x2 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media (min-width: 1400px) {
    .box-grid-6x2 {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        gap: 2rem;
    }
}

.service-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: solid 1px grey;
}

    .service-box h5 {
        padding: 1.5rem;
    }

    .service-box img {
        width: 100%;
        height: auto;
    }

    .service-box .service-small-detail {
        padding: 1.75rem;
    }

.pagination {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-info span {
    margin: 0 5px;
    cursor: pointer;
}

    #page-info span.active {
        font-weight: bold;
        color: blue;
    }
