.testimonial {
    background-color: #f7f7f7;
}

    .testimonial .container {
        display: flex;
        flex-direction: column;
    }

@media (min-width: 1400px) {
    .testimonial .container {
        flex-direction: row;
    }
}

.testimonial-content .section-title {
    max-width: 370px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 768px) {
    .testimonial-content .section-title {
        max-width: 670px;
    }
}

@media (min-width: 1400px) {
    .testimonial-content .section-title {
        max-width: 670px;
        display: block;
    }
}

.testimonial-content p,
.testimonial-content h2 {
    text-align: left;
}

.testimonial-content .section-name {
    text-align: left;
    padding-top:2rem;
}

@media(min-width: 1400px) 
{
    .testimonial-content .section-name {
       padding-top:0rem;
    }
}

@media (min-width: 1400px) {
    .testimonial-content {
        margin-top: 5rem;
        padding-right: 2rem;
    }
}

.testimonial-text {
    margin-top: 1.75rem;
    margin-bottom: 1.25rem;
    max-width: 40ch;
}

@media (min-width: 768px) {
    .testimonial-text {
        max-width: 60ch;
    }
}

.testimonial-rating {
    margin-bottom: 1.25rem;
}

.testimonial-author .fullname {
    margin-bottom: 0.5rem;
}

.testimonial-author .company {
    font-style: italic;
    font-size: 20px;
    margin-bottom: 1rem;
}

@media (min-width: 1400px) {
    .testimonial-author .company {
        margin-bottom: 3rem;
    }
}

.testimonial-img img {
    width: 100%;
    height: 100%;
}
