<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b4ecf723-c61d-44f7-aadc-35de320b15f9" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bedf3374-49df-49da-85eb-f01f599bc30d">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6e34b13b-deba-46a1-85e9-8d9acbe215cc" SortOrder="0">contactPage</ContentType>
    <ContentType Key="dce7dbff-8e44-4fab-a6fb-c1b2ed3e7af2" SortOrder="1">servicePage</ContentType>
    <ContentType Key="545c5cf9-b065-4e8a-9d07-133dfa3d9297" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>ac00ae04-8265-4bc6-9d9a-c2fadda22e10</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>7997c948-b0ea-4756-96ef-e522c6fe28b5</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6285a10b-f93d-4ca8-b664-d0546b5489a8</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>