@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.PublishedCache
@using Umbraco.Cms.Core.Routing
@using Umbraco.Cms.Core.Services.Navigation

@inject IVariationContextAccessor VariationContextAccessor
@inject IPublishedContentCache PublishedContentCache
@inject IDocumentNavigationQueryService DocumentNavigationQueryService
@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider
@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@

@{
    var rootContent = Umbraco.ContentAtRoot();

    var siteSettings = rootContent.OfType<SiteSettings>().FirstOrDefault();

    var logo = siteSettings?.SiteLogo;
    var selection = Model.Root().Children().Where(x => x.IsVisible(PublishedValueFallback)).ToArray();

}




<div class="bottom-bar">
    <div class="container">
        <nav>
            @if (logo != null)
            {
                <a href="/" class="nav-img-container">
                    <img src="@logo.Url()" alt="Onatrix" />
                </a>
            }
            else
            {
                <a href="/" class="nav-img-container">
                    Onatrix
                </a>
            }
            
            <div class="navbar">
                @foreach (var item in selection)
                {
                    <a class="@(item.IsAncestorOrSelf(Model) ? "current" : null)"
                       href="@item.Url(PublishedUrlProvider)">
                        @item.Name
                    </a>
                }
            </div>

            <div class="hamburger-menu"><i class="fa-solid fa-bars"></i></div>

            <div class="serch-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="mobile-menu">
                <a href="/about">About</a>                                
                <a href="/services">Services</a>
                <a href="/contact">Contact</a>
            </div>
        </nav>
    </div>
</div>