@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var rootContent = Umbraco.ContentAtRoot();

    var siteSettings = rootContent.OfType<SiteSettings>().FirstOrDefault();

    var rights = siteSettings?.FooterRights;

    var credit = siteSettings?.FooterCredits;


}

<footer>
    <div class="container">
        <p>
            @rights<span> @credit</span>
        </p>
    </div>
</footer>